<p>I am an Engineer. I program in Python. I build things with Arduino. I use Windows by day and Ubuntu Linux by night.
My iPad is used by the baby. There is a Nexus 7 in my bag. I use a Samsung Galaxy S2. I drink and smoke to much.</p>
<blockquote class="epigraph">
<p>Feet in the oven, head in the fridge --- on average I am OK!</p>
<p class="attribution">&mdash;me</p>
</blockquote>
